*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:rgb(85, 85, 211);
}

h1{
    text-align: center;
    margin: 40px 0;
}

section{
    margin: 0 auto;
    background-color: rgb(25, 17, 32);
    width: 400px;
    height: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 14px 34px;
}

input:focus{
    outline: 0;
}

li{
    text-align: left;
    list-style: none;
    color: rgb(146, 151, 156);
    width: 340px;
    height: 50px;
    background-color:#28123b;
    padding: 15px 0 0 8px;
    border-radius: 6px 14px;
}
ul{
    width: 340px;
    height: 60px;
}

#input_texto{
    padding: 7px 3px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: none;
    background-color: rgb(54, 51, 51);
    color: rgb(160, 160, 160);
    width: 270px;
}

#btn{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: rgb(40, 18, 59);
    color: white;
    position: relative;
    bottom: 40px;
    left: 140px;
    cursor: pointer;
}

.btn{
    width: 40px;
    height: 30px;
    margin-left: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(40, 18, 59);
}








